@model ConstructionSystem.Models.MyViewModels.DepartmentViewModel

@{
    ViewBag.Title = "Delete";
}

@section AdminNav{
    @{Html.RenderPartial("_AdminNav");}
}



<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DepartmentViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ID
        </dt>
        <dd>
            @Html.DisplayFor(x => x.DepartmentID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.NumberOfEmps)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfEmps)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>


        <dt>
            Manager Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(x => x.LastName)
        </dd>


    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
