@model ConstructionSystem.Models.Entities.Employee

@{
    ViewBag.Title = "Details";
}
@section AdminNav{
    @{Html.RenderPartial("_AdminNav");}
}
@section styles{
    <link href="~/library/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/library/material-design-iconic-font.min.css" rel="stylesheet" />
    <link href="~/library/icon-font.min.css" rel="stylesheet" />
    <!---------------------------------------------------------------------------------------------->
    <link href="~/library/bootstrap.min.css" rel="stylesheet" />
    <link rel="icon" type="image/png" src="~/css/favicon.ico" />
    <link href="~/css/proj-det.css" rel="stylesheet" />
}
<div class="page-wrapper bg-red p-t-180 p-b-100 font-robo">
    <div class="wrapper wrapper--w960">
        <div class="card card-2">
            <div class="card-heading " style="background-image: url('../../image/client1.jpg'); ">
            </div>
            <div class="card-body">
                <div class="btn-container">
                    <label class="action-btn font-weight-bold">
                        @Model.FirstName @Model.LastName
                    </label>
                </div>
                <div class="row content">

                    <div class="col-lg-6 col-sm-6 col">
                        <label class="col-lbl font-weight-bold">Adress</label><br>
                        <label class="col-lbl font-weight-bold">Phone</label><br>
                        <label class="col-lbl font-weight-bold">Salary</label><br>
                        <label class="col-lbl font-weight-bold">Gender</label><br>
                        <label class="col-lbl font-weight-bold">BirthDate</label><br>
                        <label class="col-lbl font-weight-bold">HireDate</label><br>
                        <label class="col-lbl font-weight-bold">Email</label><br>
                        <label class="col-lbl font-weight-bold">Department</label><br>
                        <label class="col-lbl font-weight-bold">Supervisor</label><br>

                    </div>

                    <div class="col-lg-6 col-sm-6 col">
                        <p class="col-p">@Model.Address</p><br>
                        <p class="col-p">@Model.Phone</p><br>
                        <p class="col-p">@Model.Salary</p><br>
                        <p class="col-p">
                            @{
                                if (Model.Gender == true)
                                {
                                    <span>Male</span>
                                }
                                else
                                {
                                    <span>Female</span>
                                }
                            }
                        </p><br>
                        <p class="col-p">@Model.BirthDate</p><br>
                        <p class="col-p">@Model.HireDate</p><br>
                        <p class="col-p">@Model.Email</p><br>
                        <p class="col-p"> @Html.DisplayFor(model => model.Department.Name) </p><br />


                        <p class="col-p"> @Html.DisplayFor(model => model.employee.FirstName) </p>


                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

@*<div class="panel panel-primary">
        <div class="panel-heading  text-center">Details OF Employee</div>
        <div class="panel-body">

            <div>
                <hr />
                <dl class="dl-horizontal">

                    <dt>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.FirstName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.LastName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.LastName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Address)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Address)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Phone)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Phone)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Salary)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Salary)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Gender)
                    </dt>

                    <dd>

                        @{
                            if (Model.Gender == true)
                            {
                                <span>Male</span>
                            }
                            else
                            {
                                <span>Female</span>
                            }
                        }

                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.BirthDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.BirthDate)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.HireDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.HireDate)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>

                    <dt>
                        Department
                    </dt>




                    <dd>
                        @Html.DisplayFor(model => model.Department.Name)
                    </dd>

                    <dt>
                        Supervisor
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.employee.FirstName)
                    </dd>

                </dl>
            </div>
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.EmployeeId }, new { @class = "btn btn-success" })
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
            </p>
        </div>
    </div>*@