@model ConstructionSystem.Models.Entities.Service

@{
    ViewBag.Title = "Details";
}


@section AdminNav{
    @{Html.RenderPartial("_AdminNav");}
}
@section styles{
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/ServicesLinks/ServiceDetails/index.css" rel="stylesheet" />
}


<body class="user-profile">
    <div class="container emp-profile">
        <form method="post">
            <div class="row">
                <div class="col-md-5">
                    <div class="profile-img">


                        <img src="~/ServicesLinks/ServiceCreate/images/1.jpeg" />
                    </div>

                </div>
                <div class="col-md-7">


                    <div class="row">
                        <div class="col-md-2">

                        </div>
                        <div id="lab" class="col-md-10">
                            <label>Services Details</label>
                        </div>
                    </div>

                    <div class="profile-head">
                        <br> <br>
                        <div class="row">

                            <label>@Html.DisplayNameFor(model => model.ServiceName)</label>
                            <p>@Html.DisplayFor(model => model.ServiceName)</p>
                            <label> @Html.DisplayNameFor(model => model.Description)</label>
                            <p>  @Html.DisplayFor(model => model.Description)</p>
                            <label> @Html.DisplayNameFor(model => model.Payment)</label>
                            <p> @Html.DisplayFor(model => model.Payment)</p>
                            <div class="col-md-8">
                                <div class="tab-content profile-tab" id="myTabContent">


                                    @Html.ActionLink("Edit", "Edit", new { id = Model.ServiceID }, new { @class = "btn btn-dark" }) |
                                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-dark" })

                                </div>
                            </div>
                        </div>

                    </div>


                </div>

            </div>

        </form>

    </div>

</body>


































@*<h2>Details</h2>

    <div>
        <h4>Service</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ServiceName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ServiceName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Payment)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Payment)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ServiceID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@
