@model IEnumerable<ConstructionSystem.Models.Entities.Service>

@{
    ViewBag.Title = "Index";
}
@section AdminNav{
    @{Html.RenderPartial("_AdminNav");}
}
@section styles{
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="~/ServicesLinks/IndexCSS/index.css" rel="stylesheet" />
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>



<body>
    <div class="container-fluide">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2 class="allEmp"><b>Services</b></h2>
                    </div>

                    <div class="col-sm-6">
                        <div class="active-purple-3 active-purple-4 mb-4">
                            @using (Html.BeginForm())
                            {


                                <input type="submit" value="Search" class="btn btn-dark Add">

                                @Html.TextBox("SearchTerm", null, new { @class = "form-control", placeholder = "Search", id = "SearchTxt" })
                            }


                        </div>
                        @Html.ActionLink("Add New Service", "Create", null, new { @class = "btn btn-dark Add" })
                        @*<a href="#addEmployeeModal" class="btn btn-dark" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Add New Service</span></a>*@


                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>

                        <th>Service Name</th>
                        <th width="300px">Description</th>

                        <th>Payment</th>



                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ServiceName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Payment)
                            </td>
                            <td>
                                @Html.ActionLink(" ", "Edit", new { id = item.ServiceID }, new { @class = "edit EditIcon" })
                                @*@Html.ActionLink(" ", "Details", new { id = item.ServiceID }, new { @class = "view DetailsIcon" })*@
                                @*@Ajax.ActionLink(" ", "Delete", new { id = item.ServiceID } ,new AjaxOptions {HttpMethod = "Get" , InsertionMode = InsertionMode.Replace , Confirm = "Are you sure" }, new { @class = "delete DeleteIcon confirm" } )*@
                                <a id="delete" class="delete DeleteIcon" data-target="#basic"
                                   data-toggle="modal"
                                   data-path="@Url.Action("Delete", "Services", new { id = @item.ServiceID })"></a>
                            </td>
                        </tr>
                    }



                </tbody>
            </table>

        </div>
    </div>




    <!--Delete Modal HTML-->

    <div class="modal fade" id="basic" tabindex="-1" role="basic" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Delete Employee</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this Employee?</p>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <input id="btnContinueDelete" type="submit" class="btn btn-dark" value="Delete">
                </div>
            </div>
        </div>
    </div>

</body>

<script>
    $(".EditIcon").prepend("<i class='material-icons' data-toggle='tooltip' title='Edit'>&#xE254;</i>")
    $(".DetailsIcon").prepend("<i class='material-icons' title='Details'>&#xE417;</i>")
    $(".DeleteIcon").prepend("<i class='material-icons' data-toggle='tooltip' title='Delete'>&#xE872;</i>")
    $(".Add").prepend("<i class ='material-icons' >&#xE147;</i>")
    var path_to_delete;

    $(".delete").click(function (e) {
        path_to_delete = $(this).data('path');
    });

    $('#btnContinueDelete').click(function () {
        window.location = path_to_delete;
    });
</script>



























@*<h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ServiceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payment)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ServiceName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Payment)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ServiceID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ServiceID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ServiceID })
                </td>
            </tr>
        }

    </table>*@
